doctype html
html( lang="pt-br" )
    head
        title= pageName
        meta( charset='utf-8')
        include includes/config.pug
        link( rel="stylesheet" href="../css/boot.css" id="boot-styles-link" )
        link( rel="stylesheet" href="../css/account.css" id="boot-styles-link" )

    body
        .main-container
            h1.title= 'Bem-Vindo: ' + name
            div.user-informations
                ul.account-informations
                    li='Id:' + id
                    li='Name:' +name
                    li='Email:' +email
                    li='Password:' +pass